main {
  display: flex;
  height: 100%;
}

section {
  &.nav {
    width: 220px;
    border-right: 1px solid #3f51b57f; // TODO: theme this to use palette primary
    a.active {
      background-color: var(--nav-active);
    }
  }
  &.content {
    width: 100%;
    padding: 1rem;
  }
}

span.sub-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-panel-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
