<main>
  <h3>Welcome to Angular Skeleton</h3>
  <p>
    This is a sample Angular application, using Angular Material for visual design.
    This is the beginning of a baseline app to be used for future projects, with a
    layout I've used for multiple projects.
  </p>
  <p>
    A welcome page gives users a description of the app and prompts them to log in,
    though the welcome page may be dropped in favor of sending users directly to
    login.
  </p>
  <p>
    Go ahead and log in. The sample app is not connected to a back end service, so
    does not actually perform any login verification. Any email and password will do.
  </p>
</main>
